@font-face {
    font-family: 'JosefinSans';
    src: url('./public/font/JosefinSans.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        color: #222222;
        //font-family: -apple-system,BlinkMacSystemFont,\.SFNSDisplay-Regular,"Noto Sans JP", sans-serif;

        header {
            .color {
                background-color: rgba(0, 0, 0, 0.4);
                box-shadow: none;

                .changeFont {
                    //font-family: 'JosefinSans';
                    font-family: 'Josefin Sans', sans-serif;
                 }
            }

        }

        main {
            flex: 1 0 auto;
        }

        .page-footer {
            background-color: rgba(255, 255, 255, 0.2);

            .container {

                p {
                    color: #222;
                }
            }
        }
    }
}
