body {
  background: linear-gradient(100deg, #fff, #f0e7d1);
}
body main .finishMsg {
  height: 400px;
}
body main .finishMsg h4 {
  margin: 10rem auto 0 auto;
  font-size: 3rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
body main form {
  height: 300px;
}
body main form .btn-large {
  width: 300px;
  font-size: 1.2rem;
}
