@media screen and (max-width: 480px) {
  .textLine {
    animation: stroke-anim 5s linear;
  }
  @keyframes stroke-anim {
    0% {
      stroke-dashoffset: 155%;
      fill: transparent;
    }
    20% {
      fill: rgba(255, 255, 255, 0.2);
      stroke-dashoffset: 100%;
    }
  }
}
@media screen and (min-width: 481px) {
  .textLine {
    animation: stroke-anim 5s linear;
  }
  @keyframes stroke-anim {
    0% {
      stroke-dashoffset: 155%;
      fill: transparent;
    }
    45% {
      fill: rgba(255, 255, 255, 0.2);
      stroke-dashoffset: 100%;
    }
  }
}
/* じわっと画像が表示される */@keyframes fadeIn {
  /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
  /* 始め */
  /* 終わり */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  background-image: url("../images/huga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
body .title {
  margin-top: 30vh;
  width: 100%;
  height: 120px;
  display: grid;
  justify-content: center;
  align-items: center;
}
body .title svg {
  width: 500px;
  height: 267px;
}
body .title svg .textLine {
  font-family: serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  font-size: 70px;
  color: #222;
  text-anchor: middle;
  stroke: #222;
  fill: #222;
  stroke-dasharray: 170%;
  stroke-width: 1px;
}
body .subTitle {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 1.25rem;
}
body .formBtn {
  margin-top: 8.5vh;
}
body .formBtn .btn-large {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  text-shadow: #222;
  border: solid 3px #222;
  color: #222;
  border-radius: 5px;
}
body .formBtn .btnRange {
  height: 60px;
}
body .formBtn .btnRange h6 {
  text-align: center;
}
body .formBtn .btnRange:hover {
  background-color: rgba(255, 255, 255, 0.51);
}
