main h4 {
  color: #222;
}
main .breadcrumb-list {
  height: 64px;
  line-height: 64px;
  margin: 0;
}
main .breadcrumb-list .first {
  color: #acacac;
}
main .breadcrumb-list .second {
  color: #222;
}
main .breadcrumb-list .third {
  color: #acacac;
}
main .breadcrumb-list .breadcrumb {
  cursor: default;
}
main .breadcrumb-list .breadcrumb:before {
  color: #757575;
}
main form {
  height: 411px;
}
main form .radio-range {
  font-size: 13px;
}
main form .radio-range .font {
  font-size: 18px;
  color: #222;
}
main form .btn-range {
  margin-top: 30px;
}
main form .btn-range .btn-origin {
  margin: 0 10px 0 10px;
}
