body {
  background: linear-gradient(100deg, #fff, #f0e7d1);
}
body main .breadcrumb-list {
  height: 64px;
  line-height: 64px;
  margin: 0;
}
body main .breadcrumb-list .first {
  color: #acacac;
}
body main .breadcrumb-list .second {
  color: #acacac;
}
body main .breadcrumb-list .third {
  color: #222;
}
body main .breadcrumb-list .breadcrumb {
  cursor: default;
}
body main .breadcrumb-list .breadcrumb:before {
  color: #757575;
}
body main form {
  height: 411px;
}
body main form .key-range input[type=text] {
  font-size: 20px;
  color: #222;
}
body main form .key-range label {
  font-size: 16px;
}
body main form .key-range2 {
  margin: 20px 0 0 0;
}
body main form .deployLink {
  margin: 30px 0 0 0;
}
body main form .btn-range {
  margin: 55px 0 0 0;
}
body main form .btn-range .btn-origin {
  margin: 0 10px 0 10px;
}
