* {
  margin: 0;
  padding: 0;
}
* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, \.SFNSDisplay-Regular, "Noto Sans JP", sans-serif;
}
* body main {
  flex: 1 0 auto;
}
